[submodule "git-extras"]
	path = vendor/git-extras
	url = git://github.com/visionmedia/git-extras.git
[submodule "z"]
	path = vendor/z
	url = git://github.com/rupa/z.git
[submodule "vendor/shellmarks"]
	path = vendor/shellmarks
	url = https://github.com/Bilalh/shellmarks.git
[submodule "link/.vim/bundle/puppet"]
	path = link/.vim/bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "link/.vim/bundle/vim-colors_duotones"]
	path = link/.vim/bundle/vim-colors_duotones
	url = https://github.com/atelierbram/vim-colors_duotones.git
[submodule "link/.vim/bundle/vim-fugitive"]
	path = link/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "link/.vim/bundle/vim-gitgutter"]
	path = link/.vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "link/.vim/bundle/Vundle.vim"]
	path = link/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "link/.vim/bundle/vim-airline"]
	path = link/.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "link/.vim/bundle/vim-json"]
	path = link/.vim/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "vendor/vim-junos-syntax"]
	path = vendor/vim-junos-syntax
	url = https://github.com/ClockworkNet/vim-junos-syntax.git
