[submodule "git-extras"]
	path = vendor/git-extras
	url = git://github.com/visionmedia/git-extras.git
[submodule "z"]
	path = vendor/z
	url = git://github.com/rupa/z.git
[submodule "vendor/shellmarks"]
	path = vendor/shellmarks
	url = https://github.com/Bilalh/shellmarks.git
[submodule "link/.vim/bundle/puppet"]
	path = link/.vim/bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
